<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812718640518-f0s0ihsc9mqlak61o433nt8qu6ch03tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812718640518-f0s0ihsc9mqlak61o433nt8qu6ch03tl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>812718640518-g1c0ju5ghdoov23dfbaegb9gqg3j592r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALwTpgJ934JNnaGGhqTzBvKud87RU9rTw</string>
	<key>GCM_SENDER_ID</key>
	<string>812718640518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authDemo</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-558c6</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-558c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812718640518:ios:1752e130e262f6389ff007</string>
</dict>
</plist>